/* Write your CSS here */
.event {
  width: 40vw;
  padding: 20px;
  text-align: center;
  border: 2px solid red;
  display: flex;
  justify-content: center;
}
.eventyet {
  width: 40vw;
  padding: 20px;
  text-align: center;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 600px) {
  h1 {
    font-size: 12px;
  }
}
.eventreg {
  width: 38vw;
  padding: 20px;
  text-align: center;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.initail {
  color: blue;
}
button {
  background-color: rgb(65, 115, 223);
  color: white;
  border-radius: 8px;
  padding: 8px;
  border-width: 0px;
}

.registeredImg {
  width: 50%;
}

.textPara {
  color: blue;
}
